<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <form action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
        {{ form }}
    <button type="submit">Submit</button>
    </form>


{% endblock %}
</body>
</html>