<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dresses</title>
</head>
<body>
{% for dress in dresses %}
<p><a href="/option/add?did={{ dress.id }}">Add Option for </a>DRESS:{{  dress.name}}
    ( {% for option in dress.options %}
        <a href="/choice/add?oid={{ option.id }}">Add Choice For</a> Option
{{ option.name }}
{% endfor %}
)
</p>
{% endfor %}


</body>
</html>